.bar-chart {
  background: #fff;
  height: 13px;
  margin-bottom: 6px;
  }

.bar-chart .bar-chart--inner {
  background: #333;
  height: 100%;
  display: block;
  margin-bottom: 0.3rem;
  position: relative;
  will-change: width;
}


.bar-chart[animated] .bar-chart--inner {
  transition: width 1.3s;
}
.bar-chart.j .bar-chart--inner {
  background: 
  #A9B5BF;
  font-size: 9px;
    font-weight: 1000;
    cursor: default;
    font-family: Verdana, Arial;
}
.bar-chart.i .bar-chart--inner {
  background: #B4B1C3;
  font-size: 9px;
    font-weight: 1000;
    cursor: default;
    font-family: Verdana, Arial;
}
.bar-chart.h .bar-chart--inner {
  background: #C1ADC3;
  font-size: 9px;
    font-weight: 1000;
    cursor: default;
    font-family: Verdana, Arial;
}

.bar-chart.g .bar-chart--inner {
  background: #D0A8C0;
  font-size: 9px;
    font-weight: 1000;
    cursor: default;
    font-family: Verdana, Arial;
}
.bar-chart.f .bar-chart--inner {
  background: #E4A1B5;
  font-size: 9px;
    font-weight: 1000;
    cursor: default;
    font-family: Verdana, Arial;
}
.bar-chart.e .bar-chart--inner {
  background: #D0A8C0;
  font-size: 9px;
    font-weight: 1000;
    cursor: default;
    font-family: Verdana, Arial;
}
.bar-chart.d .bar-chart--inner {
  background: #EF9DAB;
  font-size: 9px;
    font-weight: 1000;
    cursor: default;
    font-family: Verdana, Arial;
}
.bar-chart.c .bar-chart--inner {
  background: #F79A9F;
  font-size: 9px;
    font-weight: 1000;
    cursor: default;
    font-family: Verdana, Arial;
}
.bar-chart.b .bar-chart--inner {
  background: #FC9891;
  font-size: 9px;
    font-weight: 1000;
    cursor: default;
    font-family: Verdana, Arial;
}
.bar-chart.a .bar-chart--inner {
  background: #FD9983;
  font-size: 9px;
    font-weight: 1000;
    cursor: default;
    font-family: Verdana, Arial;
}