.chart {
  float: left;
  padding-right: 5px;
  padding-bottom: 30px;
  padding-top:0;
  padding-left:0;
}

.background {
  fill: none;
}
.area {
  fill: #e7e7e7;
}

.line {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

.title {
  font-size: 15px;
}

.axis line, .grid line {
  stroke-width: .5px;
  shape-rendering: crispEdges;
  stroke: #fff;
  opacity: 0.5;
  pointer-events: none;
}

.axis path {
  display: none;
}

.hidden {
  display:none;
  opacity: 0.0;
}

.label {
    fill: steelblue;
}

.endpoint {
    fill: #666;
}

#vis{
  margin-top: 50px;
  margin:0,auto;
}

#form{
  text-align: center;
  margin-top:30px;
}
#class{
    width: 820px;
}
.container{
    width: 800px;
    margin: 0 auto;
}